/* Root Variables for Colors */
:root {
  --primary-color: #4e6e81;
  --secondary-color: #505050;
  --accent-color: none;
  --text-color: #828282;
  --bg-primary-color: #fefefe;
  --bg-secondary-color: #fafafa;
  --inter-font-family: 'Inter', sans-serif;
  --montserrat-font-family: 'Montserrat', sans-serif;
  --inconsolata-font-family: 'Inconsolata', monospace;
  --outfit-font-family: 'Outfit', sans-serif;
}

/* Set base font size */
html {
  font-size: 16px;
}

/* Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-primary-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 1rem;
}

/* Container for the split layout */
.container {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1500px;
  height: 100vh;
  background-color: var(--primary-color);
  overflow: hidden;
}

/* Individual split styles */
.split {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 8rem 4rem 4rem 4rem;
  color: var(--text-color);
}

/* Left Split */
.split-left {
  padding: 8rem 0rem 0 4rem;
  background-color: var(--bg-primary-color);
}

/* Right Split */
.split-right {
  background-color: var(--bg-secondary-color);
}

/* Accent elements (buttons, links) */
button,
a {
  background-color: var(--accent-color);
  font-family: var(--inconsolata-font-family);
  color: var(--text-color);
  border: none;
  padding: 0rem 2rem;
  text-decoration: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-right: 1rem;
  transition: background-color 0.3s ease;
}

button:hover,
a:hover {
  background-color: darken(var(--accent-color), 10%);
}

button:active,
a:active {
  background-color: var(--primary-color), 20%;
}

/* Typography */

h1 {
  font-size: 2.5rem;
  font-family: var(--inconsolata-font-family);
  font-weight: bold;
  line-height: 3rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  font-family: var(--inconsolata-font-family);
  font-weight: bold;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

p {
  font-family: var(--inconsolata-font-family);
  font-weight: normal;
  padding: 0.5rem 0;
  line-height: 1.9rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}