:root {
  --accent: #ffd600;
  --accent-dark: #535353;
  --primary-light: #ffffff;
  --primary-dark: #262626;
  --primary-text-color: #616161;
  --secondary-text-color: #1c274c;
  --description-text-color: #9f9f9f;
  --default-font-size: 24px;
  --large-font-size: 1.3rem;
  --small-font-size: 1.5rem;
  --micro-font-size: 0.542rem;
  --default-font-family: "Hi Melody", sans-serif;
  --heading-font-family: "Inconsolata", monospace;
}

body {
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background: var(--primary-light);
  color: var(--primary-text-color);
  font-size: var(--default-font-size);
  font-family: var(--default-font-family);
  line-height: 1.7;
}
main {
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 1em 5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  color: var(--secondary-text-color);
}
h1 {
  font-size: 3.052rem;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}
strong,
b {
  font-weight: 700;
}
a {
  color: #8f8e8e;
}
a:hover {
  color: var(--accent-dark);
}

a:active {
  color: var(--secondary-text-color);
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

.text-tagline {
  font-family: var(--heading-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 25px;
}
.color-tagline {
  color: var(--description-text-color);
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}
