---
import { SITE_TITLE } from "../consts";
import Page from "../layouts/Page.astro";
---

<Page title={SITE_TITLE}>
  <section class="content-wrapper">
    <h4>Empowering Creativity Through Innovation!</h4>
    <div class="text-tagline color-tagline">
      Inspiring Creations, Elevating Minds!
    </div>
    <p>
      Welcome to Kriyaetive, a technology lab dedicated to developing innovative
      products that foster creativity and collaboration. Our mission is to
      provide tools that inspire and empower creators worldwide.
    </p>
  </section>
</Page>

<style>
  .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.2rem 0.2rem;
  }
</style>
