---
import Logo from "./Logo.astro";
import HeaderLink from "./HeaderLink.astro";
import { NAV_MENUS } from "../consts";
---

<header>
  <nav>
    <div class="logo">
      <Logo />
    </div>
    <div class="hero-wrapper">
      <h1>Empowering Creativity Through Innovation!</h1>
      <!-- <h3>Inspiring Creations, Elevating Minds!</h3> -->
      <p>
        Our innovative tools are designed to transform the way you think, learn,
        and collaborate—coming soon from <b>Kriyaetive</b>. Whether you’re
        brainstorming your next big idea, enhancing your skills, or working with
        a team, our products are built to make your journey easier and more
        impactful.
      </p>
    </div>
    <div class="internal-routes">
      {
        NAV_MENUS.map((menu) => (
          <HeaderLink href={`${menu.href}`} tabindex={menu.tabIndex}>
            {menu.title}
          </HeaderLink>
        ))
      }
    </div>
    <div>
      <!-- <div class="resources-section"></div> -->
      <p>(C) 2024, Kriyaetive Verse Private Limited, TN, India</p>
    </div>
  </nav>
</header>
<style>
  header {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .hero-wrapper {
    padding: 4rem 4rem 4rem 0;
  }

  .resources-section {
    width: 100%;
    height: 280px;
    background-color: var(--bg-secondary-color);
  }

  nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: left;
  }

  .logo {
    width: fit-content;
    flex-grow: 0;
  }
  .internal-routes {
    display: inline-flex;
    flex-grow: 2;
    justify-content: flex-start;
  }
</style>
