---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
    <style></style>
  </head>
  <body>
    <main>
      <Header />
      <section class="main-body-wrapper">
        <slot />
      </section>
      <Footer />
    </main>
    <style>
      .main-body-wrapper {
        display: flex;
        padding: 5rem 0 2rem 0;
      }
    </style>
  </body>
</html>
